version: '3.8'

services:
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    container_name: gateway-service
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - microservices-network
    depends_on:
      - user-service
      - store-service
    restart: unless-stopped

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
    networks:
      - microservices-network
    restart: unless-stopped

  store-service:
    build:
      context: ./store-service
      dockerfile: Dockerfile
    container_name: store-service
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
    networks:
      - microservices-network
    restart: unless-stopped

networks:
  microservices-network:
    driver: bridge

